
<style>
    div{
        width: 90vw;
        height: 150px;
        background-color: cornflowerblue;
        margin: auto;
        padding: 10px;
        border-radius: 10px;
    }
</style>
<div class="footer">
    <p>Contact us</p>
    <p>Rohit kumar</p>
    <p>Mobile No: +91 76450XXXXX</p>
    <p>Email : rohitkumar@gmail.com</p>
</div>